#!/usr/bin/make -f

# HOW TO BUILD FOR CUMULUS
# Currently master FRR needs libyang2.1.128 or
# greater but this is not available in our build
# env.  So we need to make things work a bit better
# for the moment.  
# Steps:
# 1) Run due --run and choose one of the deb 12 environments
# 2) in the FRR directory
#    git checkout -b sharpd/internal_master origin/sharpd/internal_master
#    sharpd/internal_master is the branch that has the starting point
#    for getting master to build.
# 3) Install packages listed in debian/control starting
#    on line 7.
# 4) Install the libyang2*.debs in /home/sharpd/master
# 5) Run dpkg-buildpackage -us -uc
# 6) If things are not working remember you can cd into the
#    build directory and do a `make -j<some high number`
# 5) Profit
# standard Debian options & profiles

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifneq (,$(filter terse,$(DEB_BUILD_OPTIONS)))
  MAKE_SILENT="V=0"
  export DH_VERBOSE=0
else
  MAKE_SILENT="V=1"
  export DH_VERBOSE=1
  export DH_OPTIONS=-v
endif

# package-specific build profiles

ifeq ($(filter pkg.frr.nortrlib,$(DEB_BUILD_PROFILES)),)
  CONF_RPKI=--enable-rpki
else
  CONF_RPKI=--disable-rpki
endif

ifeq ($(filter pkg.frr.nosystemd,$(DEB_BUILD_PROFILES)),)
  DH_WITH_SYSTEMD=systemd,
  CONF_SYSTEMD=--enable-systemd=yes
else
  DH_WITH_SYSTEMD=
  CONF_SYSTEMD=--enable-systemd=no
endif

ifeq ($(filter pkg.frr.nopim6d,$(DEB_BUILD_PROFILES)),)
  CONF_PIM6=--enable-pim6d
else
  CONF_PIM6=--disable-pim6d
endif

ifeq ($(filter pkg.frr.grpc,$(DEB_BUILD_PROFILES)),)
  CONF_GRPC=--disable-grpc
else
  CONF_GRPC=--enable-grpc
endif

ifneq (,$(filter sanitizer,$(DEB_BUILD_OPTIONS)))
  CONF_ASAN=--enable-address-sanitizer
else
  CONF_ASAN=--disable-address-sanitizer
endif

ifneq (,$(filter devbuild,$(DEB_BUILD_OPTIONS)))
  CONF_DEVBUILD=--enable-dev-build
else
  CONF_DEVBUILD=--disable-dev-build
endif


export PYTHON=python3

%:
	dh $@ -Bbuild --with=sphinxdoc --with=$(DH_WITH_SYSTEMD)autoreconf --parallel

override_dh_auto_configure:
	$(shell dpkg-buildflags --export=sh); \
	dh_auto_configure -- \
		--enable-exampledir=/usr/share/doc/frr/examples/ \
		--sbindir=/usr/lib/frr \
		--with-vtysh-pager=/usr/bin/pager \
		--libdir=/usr/lib/$(DEB_HOST_MULTIARCH)/frr \
		--with-moduledir=/usr/lib/$(DEB_HOST_MULTIARCH)/frr/modules \
		LIBTOOLFLAGS="-rpath /usr/lib/$(DEB_HOST_MULTIARCH)/frr" \
		--disable-dependency-tracking \
		\
		$(CONF_DEVBUILD) \
		$(CONF_SYSTEMD) \
		$(CONF_RPKI) \
		$(CONF_PIM6) \
		--with-libpam \
		--enable-doc \
		--enable-doc-html \
		--enable-snmp \
		--enable-fpm \
		--disable-zeromq \
		--enable-ospfapi \
		--disable-bgp-vnc \
		--enable-multipath=128 \
		\
		--enable-user=frr \
		--enable-group=frr \
		--enable-vty-group=frrvty \
		--enable-configfile-mask=0640 \
		--enable-logfile-mask=0640 \
		\
		$(CONF_ASAN) \
		--enable-protobuf \
		--enable-cumulus=yes \
		--enable-csmgr=yes \
		--enable-datacenter=yes \
		--enable-bfdd=no \
		--enable-sharpd=yes \
		--enable-grpc=yes \
		--enable-bgp-lttng=yes \
		--enable-zebra-lttng=yes \
		--with-log-timestamp-precision=6 \
		# end

override_dh_auto_install:
	dh_auto_install

	sed -e '1c #!/usr/bin/python3' -i debian/tmp/usr/lib/frr/frr-reload.py
	sed -e '1c #!/usr/bin/python3' -i debian/tmp/usr/lib/frr/generate_support_bundle.py
	sed -e '1c #!/usr/bin/python3' -i debian/tmp/usr/lib/frr/frr_babeltrace.py
	sed -e '1c #!/usr/bin/python3' -i debian/tmp/usr/lib/frr/ospfclient.py

# let dh_systemd_* and dh_installinit do their thing automatically
ifeq ($(filter pkg.frr.nosystemd,$(DEB_BUILD_PROFILES)),)
	cp build/tools/frr.service debian/frr.service
endif
	cp build/tools/frrinit.sh debian/frr.init
	-rm -f debian/tmp/usr/lib/frr/frr

# install config files
	mkdir -p debian/tmp/etc
	cp -r tools/etc/* debian/tmp/etc/
	-rm debian/tmp/etc/frr/daemons.conf

# drop dev-only files
	find debian/tmp -name '*.la' -o -name '*.a' -o -name 'lib*.so' | xargs rm -f
	rm -rf debian/tmp/usr/include
	-rm debian/tmp/usr/lib/frr/ssd

override_dh_auto_build:
	dh_auto_build -- $(MAKE_SILENT)

override_dh_installinit:
	dh_installinit -r

override_dh_installsystemd:
	dh_installsystemd -r

override_dh_makeshlibs:
	dh_makeshlibs -n

override_dh_missing:
	dh_missing --fail-missing

ifneq ($(filter nocheck,$(DEB_BUILD_PROFILES) $(DEB_BUILD_OPTIONS)),)
override_dh_auto_test:
	true
endif

override_dh_auto_clean:
# we generally do NOT want a full distclean since that wipes both
# debian/changelog and config.version
	if test -f Makefile; then make redistclean; fi
	-rm -f debian/frr.init
	-rm -f debian/frr.service

